/*
	General
*/

* {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

html {
	background-color: rgb(238, 243, 226);
	height: 100%;
}

body {
	padding: 1rem;
	padding-bottom: 0;
	height: 100%;
	position: relative;
}

body>* {
	margin-bottom: 1rem;
}

body>*>* {
	margin-bottom: 0.5rem;
}

@media all and (orientation: portrait) {
	body {
		width: 100%;
		margin: 0px;
	}
}

@media all and (orientation: landscape) {
	body {
		width: 80%;
		margin: 0px auto;
	}
}

p {
	text-align: justify;
}

@font-face {
	font-family: Symbola;
	src: url('/themes/fonts/Symbola.ttf');
}


/*
	Header
*/

header {
	width: 100%;
}

header>h1 {
	min-width: 320px;
	min-height: 185px;
	background: url('/themes/imgs/Logo.png') left top / contain no-repeat;
	padding-left: 320px;
	display: inline-block;
	font-size: 200%;
}

header nav ul {
	list-style: none;
}

header nav#main {
	width: 100%;
	min-height: 1.2em;
	float: left;
	background: rgb(202, 255, 112);
	border-radius: 0.5rem;
	padding: 0.5rem;
}

header nav#main ul li {
	display: inline-table;
	vertical-align: middle;
	position: relative;
	min-width: 5rem;
	text-align: center;
}

header nav#main ul li a {
	font-weight: bold;
	color: rgb(0, 100, 0);
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.25rem 0.5rem;
}

header nav#main ul li a:hover {
	color: rgb(139, 0, 139);
}

header nav#main ul li ul {
	display: none;
	position: absolute;
	top: 100%;
}

header nav#main ul li:hover > ul {
	display: block;
	background: rgb(202, 255, 112);
}

header nav#main ul li ul li {
	float: none;
	display: block;
	padding-right: 1rem;
}

a#Home:before {
	content: '⌂ ';
	font-family: Symbola;
}


/*
	Main
*/

main {
	clear: both;
	background-color: rgb(246, 249, 237);
	padding: 0.5em;
	border-radius: 0.5rem;
	width: 100%;
}

main>*:last-child {
	margin-bottom: 0rem;
}

main>p {
	padding: 0.25rem 0.25rem;
}

main>h1, main>h2, main>h3, main>h4, main>h5 {
	padding: 0rem 0.25rem;
}


/*
	Footer
*/

footer {
	padding: 0.5em;
	background-color: rgb(202, 255, 112);
	border-radius: 0.5rem;
	overflow: hidden;
	font-size: 0.9em;
	font-weight: bold;
	color: rgb(0, 100, 0);
	position: absolute;
	bottom: 1.5rem;
	left: 1rem;
	right: 0%;
}

footer>p {
	padding: 0.25rem;
	margin: 0;
}

footer #contact {
	text-align: right;
	float: right;
}

footer #opening-times {
	float: left;
	text-align: left;
}
